.users {
  position: relative;

  .userTitle {
    align-items: center;
    display: flex; 
  }

  .userline {
    border: 1px solid $mediumgray;
    margin-left: 45px;
    margin-right: 250px;
    width: 100%;
  }

  h2 {
    font-size: 40px;
    margin:  15px 0;
  }

  .dataTable-search {
    position: absolute;
    right: 50px;
    top: 20px;
  }
}

.dataTable-table {
  tr {
    height: 60px;

    td {
      vertical-align: middle;

      .posts {
        color: $green;
        cursor: url('../img/cursor.png' ), pointer;

      }
      .albums {
        @extend .posts;
      }
    }

    .trash {
      color: $green;
      cursor: url('../img/cursor.png' ), pointer;
      display: none;
    }

    &:nth-child(even) {
      background: $lightgray;
    };

    &:nth-child(odd) {
      background: $white;
    }

    &:hover {
      background: $mediumgray;

      .trash {
        display: block;
      }
    }
  }
}
